{% extends '/layouts/app.twig' %}

{% block content %}

    {% for topic in topics %}
        <p>
          <a href="{{ path_for('topic.show', {id: topic.id}) }}">{{ topic.title }}</a>
        </p>
    {% endfor %}

{% endblock %}
